<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="https://cocktailsanddreams.co.in/wp-content/uploads/2018/01/cdn1-logo.gif" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://observatoriodatv.uol.com.br/wp-content/uploads/2017/02/retro1-high.jpg" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>
    </ul>
  </div>
</div>






<div class="banner" style="background-color: rgba(0,36,61,0.6);">
  <div class="banner-content">
    <h1>Amazing Cocktails</h1>
    <p>Let's drink!!!</p>
  </div>
</div>

<div style="margin-top: 90px">
  <div class="container">
      <h4>Cocktails</h4>

      <div class="row">

        <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <!-- insert <div class="card"> -->
            <div class="card" style="background-image: url('https://source.unsplash.com/random');">
              <div class="card-category">Best drinks</div>
              <div class="card-description">
                <h2><%= link_to cocktail.name, cocktail %></h2>
              </div>
            </div>
          </div>
          <% end %>
        </div>
    <hr>
    <%= link_to "Create a new Cocktail", new_cocktail_path , class: "btn btn-primary"%>
  </div>
</div>


