
<div style="margin-top: 90px">
  <div class="container">
    <h4>Cocktails</h4>
      <div class="row">
        <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <!-- insert <div class="card"> -->
            <div class="card" style="background-image: url('https://source.unsplash.com/random');">
              <div class="card-category">Best drinks</div>
              <div class="card-description">
                <h2><%= link_to cocktail.name, cocktail %></h2>
              </div>
            </div>
          </div>
          <% end %>
        </div>
    <hr>
    <%= link_to "Create a new Cocktail", new_cocktail_path , class: "btn btn-primary"%>
  </div>
</div>




